.main-container {
    display: flex;
    flex-direction: column; /* Organiza os botões na vertical */
    justify-content: center; /* Alinha os itens verticalmente no centro */
    align-items: center; /* Alinha os itens horizontalmente no centro */
    height: 100vh; /* Define a altura da tela para 100% da altura da janela */
    background-color: #f4f4f4; /* Cor de fundo da página */
}

h1 {
    margin-bottom: 30px; /* Espaçamento entre o título e os botões */
    font-size: 2rem;
    color: #333;
}

.button-container {
    display: flex;
    flex-direction: column; /* Organiza os botões na coluna */
    gap: 20px; /* Espaçamento entre os botões */
}

.main-button {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white;
    border: none;
    padding: 15px 32px; /* Tamanho do botão */
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.main-button:hover {
    background-color: #45a049; /* Cor quando o botão é pressionado */
}

.main-button:focus {
    outline: none;
}
